.uniform-image {
    width: 100%; /* Asegura que ocupe todo el ancho del carrusel */
    height: 400px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen al contenedor sin deformarla */
  }
  