<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="articulo-detalle d-flex flex-wrap p-4">
    <!-- Imagen principal -->
    <img *ngIf="articuloDetalle?.imagen"
         [src]="articuloDetalle?.imagen"
         alt="Imagen del artículo"
         class="img-fluid custom-img-large me-4" />

    <!-- Contenido a la derecha -->
    <div class="info-articulo text-start">
      <!-- Título y categoría -->
      <p class="text-muted">{{ articuloDetalle?.categoria }}</p>
      <h2 class="fw-bold">{{ articuloDetalle?.nombre }}</h2>
      

      <!-- Precio -->
      <p *ngIf="!articuloDetalle?.precioOferta">
        Precio: <strong>{{ articuloDetalle?.precio | currency: 'EUR': 'symbol' }}</strong>
      </p>
      <p *ngIf="articuloDetalle?.precioOferta" class="precio-oferta">
        <span class="text-decoration-line-through text-muted">
          {{ articuloDetalle?.precio | currency: 'EUR': 'symbol' }}
        </span>
        <strong class="text-danger">
          {{ articuloDetalle?.precioOferta | currency: 'EUR': 'symbol' }}
        </strong>
      </p>

      <!-- Imagen miniatura -->
      <div class="my-3">
        <img *ngIf="articuloDetalle?.imagen"
             [src]="articuloDetalle?.imagen"
             alt="Miniatura"
             class="img-thumbnail custom-img-small" />
      </div>

      <!-- Tallas -->
      <div class="mt-4">
        <h5>Tallas disponibles:</h5>
        <div class="d-flex flex-wrap">
          <div *ngFor="let talla of articuloDetalle?.tallas" 
               class="talla-container me-2 mb-2"
               [ngClass]="{
                 'bg-light text-dark': talla.disponible,
                 'bg-secondary text-muted': !talla.disponible
               }"
               [class.disabled]="!talla.disponible">
            <span>{{ talla.size }}</span>
          </div>
        </div>
      </div>

      <!-- Botones -->
      <div class="d-flex gap-3 mt-4">
        <button class="btn btn-dark d-flex align-items-center button">
          <i class="fa fa-envelope me-2"></i> Waitlist
        </button>
        <button *ngIf="articuloDetalle?.favorito" class="btn btn-outline-dark d-flex align-items-center button">
          Wishlist  <i class="fa fa-heart me-2 m-2"></i> 
        </button>
      </div>
    </div>
  </div>
</div>
