.custom-img-large {
    max-width: 300px;
    width: 100%;
    height: auto;
  }
  
  .button{
    border-radius: 0;
  }
  .custom-img-small {
    max-width: 80px;
    height: auto;
    border-radius: 0;
  }
  .talla-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease, border-color 0.3s ease;
  }
  
  
  .talla-container.bg-light {
    background-color: #f0f0f0;
    color: #333;
    border: 2px solid #333;
  }
  

  .talla-container.bg-secondary {
    background-color: #d6d6d6;
    color: #8c8c8c;
    border: 2px solid #ccc;
    text-decoration: line-through;
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  .talla-container:hover {
    background-color: #e0e0e0;
  }
  

  .talla-container span {
    display: inline-block;
    line-height: 40px;
  }

.custom-img-large {
  max-width: 40%;
  height: auto;
}


  
  