.custom-img {
  height: 400px; /* o ajusta según tu diseño */
  object-fit: cover;
  border-radius: 0px;
}

.icon-heart {
  font-size: 1.2rem;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
