<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h2>Acerca de Nosotros</h2>
      <p>
        Somos una tienda de ropa con más de 10 años de experiencia en el mercado. Nos dedicamos a ofrecer productos de
        alta calidad con el mejor servicio al cliente.
      </p>
      <p>
        Nuestro equipo está comprometido con brindar la mejor experiencia de compra y satisfacer todas tus necesidades
        de moda. ¡Bienvenido a la mejor tienda online de ropa!
      </p>
      <h3>Nuestra Historia</h3>
      <p>
        Fundada en 2025, nuestra empresa nació de un grupo de programadores apasionados que se conocieron en el Bootcamp
        2025 de Nunsys. Juntos, con un enfoque centrado en la innovación y la accesibilidad, decidieron unir sus
        habilidades para crear una plataforma que ofreciera productos tecnológicos y servicios digitales de alta
        calidad. Lo que comenzó como un pequeño proyecto en el ámbito de la programación se transformó rápidamente en
        una tienda online con un fuerte enfoque en tecnología de vanguardia.
      </p>
      <p>Desde su creación, hemos estado comprometidos con la excelencia, mejorando constantemente nuestra oferta y
        asegurándonos de que nuestros clientes disfruten de una experiencia única. A lo largo de los años, nos hemos
        expandido, integrando equipos de desarrollo, diseñadores y expertos en servicio al cliente, siempre manteniendo
        nuestra misión de brindar soluciones innovadoras, accesibles y funcionales para todos. Hoy en día, somos una
        referencia en la industria de tecnología, destacándonos por nuestra capacidad para adaptarnos a las necesidades
        de nuestros usuarios y ofrecerles productos que marcan la diferencia.
      </p>
    </div>

    <div class="col-md-4" *ngIf="image">
      <img [src]="image.url" class="img-fluid rounded" alt="Imagen {{image.id}}">
    </div>
  </div>
</div>